@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*
background color: #ffffff
background accent / selected: #f3f4f6
heading text color: #565d6d
normal text color: #171a1f
border color: #dee1e6;
*/

:root {
  --color-white: #ffffff;
  --color-off-white: #f3f4f6;
  --color-gray-900: #171a1f;
  --color-gray-400: #565d6d;
  --color-gray-200: #dee1e6;

  --color-bg: var(--color-white);
  --color-bg-accent: var(--color-off-white);
  --color-border: var(--color-gray-200);
  --color-heading-text: var(--color-gray-400);
  --color-regular-text: var(--color-gray-900);

  --font-heading: 3.2rem;
  --font-logo: 2.8rem;
  --font-regular: 1.6rem;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--font-regular);
  background: var(--color-bg);
  color: var(--color-regular-text);
}

/* APP styling */

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

aside {
  flex: 2;
}

aside header {
  width: 100%;
  padding: 1rem;
}

.logo {
  color: var(--color-regular-text);
  font-size: var(--font-logo);
  letter-spacing: -2px;
  font-weight: bold;
  padding: 1.2rem 0;
}

article {
  flex: 5;
  background: var(--color-bg-accent);
}

