@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*
background color: #ffffff
background accent / selected: #f3f4f6
heading text color: #565d6d
normal text color: #171a1f
border color: #dee1e6;
*/

:root {
  --color-white: #ffffff;
  --color-off-white: #f3f4f6;
  --color-gray-900: #171a1f;
  --color-gray-400: #565d6d;
  --color-gray-200: #dee1e6;

  --color-bg: var(--color-white);
  --color-bg-accent: var(--color-off-white);
  --color-border: var(--color-gray-200);
  --color-heading-text: var(--color-gray-400);
  --color-regular-text: var(--color-gray-900);

  --font-heading: 3.2rem;
  --font-logo: 2.8rem;
  --font-regular: 1.6rem;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--font-regular);
  background: var(--color-bg);
  color: var(--color-regular-text);
}

/* APP styling */

main {
  width: 100%;
  height: 100vh;
  display: flex;
}


/* SIDE BAR */

aside {
  flex: 2;
  border-right: 1px solid var(--color-border);
}

aside header {
  width: 100%;
  padding: 1rem;
}

.logo {
  color: var(--color-regular-text);
  font-size: var(--font-logo);
  letter-spacing: -2px;
  font-weight: bold;
  padding: 1.2rem 0;
}

.select-country {
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
}

.select-country select {
  border: none;
  padding: 2px;
  flex: 1;
  text-align: center;
  color: var(--color-heading-text);
  letter-spacing: .25rem;
}

.select-country select:focus {
  outline: none;
}

.holidays-placeholder {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: .25rem;
  line-height: 3rem;
  text-align: center;
}

.holiday-list {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  padding: 1.8rem;
  overflow: auto;
}

.holiday-list li {
  padding: 1.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  color: var(--color-heading-text);
  border-bottom: 1px solid var(--color-border);
  font-size: 1.4rem;
}

.holiday-list li:last-of-type {
  border-bottom: none;
}

.holiday-list li:hover {
  background-color: var(--color-bg-accent);
  transition: all .2s ease-in-out;
}

.holiday-list h3 {
  color: var(--color-regular-text);
  letter-spacing: .15rem;
}

/* MAIN CONTENT */

article {
  flex: 5;
  padding: 2.3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

article h1 {
  letter-spacing: .2rem;
  color: var(--color-heading-text);
  margin: 1rem 0;
}

article .date {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

article p {
  word-spacing: .15rem;
  line-height: 3rem;
}

article img {
  width: 100%;
  height: 50rem;
  object-fit: auto;
  border-radius: 1rem;
}

